<!-- FILEPATH: /home/armindroid/Workspace/internMe-web/app/views/pages/about.html.erb -->
<p>Bienvenido a nuestra página InternMe. Aquí puedes encontrar información sobre el gran equipo detras de estre proyecto.</p>
